@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list],
li,
ul {
  list-style: none;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "Kumbh Sans", sans-serif;
}
body h1 {
  font-weight: 700;
}
body p,
body h2 {
  font-size: 0.75rem;
  font-weight: 400;
}

.accordion__panel:hover h2 {
  font-weight: 700;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  background: linear-gradient(#af67e9, #6565e7);
}
body h1 {
  color: #1d1e35;
}
body h2 {
  color: #4a4b5e;
}
body p {
  color: #787887;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  background-color: #fff;
  position: relative;
  min-height: 32.0625rem;
  width: 18.75rem;
  border-radius: 1.5rem;
  box-shadow: 10px 15px 40px 0px rgba(0, 0, 0, 0.5);
  padding: 1.5rem;
  overflow: hidden;
}
.card__title {
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}
.card .accordion {
  text-align: left;
  width: 100%;
  margin-bottom: 2rem;
  z-index: 1;
}
.card .accordion__header {
  padding: 0.75rem 0;
}
.card .accordion__panel {
  border-bottom: #e7e7e9 solid 1px;
}
.card .accordion__panel p {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.card .accordion__panel h2 {
  position: relative;
  transition: all 0.3s ease;
}
.card .accordion__panel h2:after {
  content: "";
  background-image: url(../images/icon-arrow-down.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  transition: all 0.3s ease;
}
.card .accordion__panel h2.active:after {
  transform: translateY(-50%) rotate(180deg);
}
.card .accordion__panel:hover {
  cursor: pointer;
}
.card .accordion__panel:hover h2 {
  color: #1d1e35;
}
.card::before {
  content: "";
  background-image: url(../images/illustration-woman-online-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  width: 250px;
  height: 180px;
  top: -20.5%;
  margin: 0 auto;
  z-index: 2;
}
@media (min-width: 48rem) {
  .card::before {
    width: 475px;
    height: 350px;
    top: 15%;
    left: -10%;
    background-image: url(../images/illustration-woman-online-desktop.svg);
    background-size: contain;
  }
}
.card::after {
  content: "";
  background-image: url(../images/bg-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  width: 250px;
  height: 180px;
  top: -7.5%;
  margin: 0 auto;
  z-index: 1;
}
@media (min-width: 48rem) {
  .card::after {
    width: 1250px;
    height: 775px;
    top: -35%;
    left: -70%;
    background-image: url(../images/bg-pattern-desktop.svg);
    background-size: contain;
    z-index: 0;
  }
}
@media (min-width: 48rem) {
  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 10% 90%;
    min-width: 57.5rem;
    min-height: 31.875rem;
    margin-left: auto;
  }
  .card h1 {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: left;
    align-self: end;
  }
  .card .accordion {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 80%;
  }
}

.active {
  color: #1d1e35;
  font-weight: 700;
}/*# sourceMappingURL=index.css.map */